<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blackjack History</title>
</head>
<body>
    <header>
        <h1>Blackjack - Historia rozdań</h1>
            <nav>
                <a href="/current">Obecna gra</a> |
                <a href="/">Historia</a> |
                <a href="/new">Nowa gra</a> |
                <a href="/rules">Zasady</a>
            </nav>

        <hr>
    </header>
